.companies {
    &__container {
        width: 85%;
        margin: 4rem auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &__item {
        margin: 5rem 0;

        @media (max-width:$screen-lg) {
            margin: 2rem 1rem;
        }

        img {
            @media (max-width:$screen-lg) {
                max-width: 5rem;
            }
        }
    }

}