.footer {
    background-color: $color-black;
    padding: 4rem 0;


    &__container {
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        color: $color-white;

        ul>a {
            @media (max-width:$screen-md) {
                margin: .4rem 0;
            }
        }

        @media (max-width:$screen-md) {
            flex-direction: column;
        }
    }

    &__first-row>* {
        @media (max-width:$screen-md) {
            margin: .7rem 0;
        }
    }




    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;


        li {
            margin: .2rem 0;
        }

        a {
            color: $color-white;
            text-decoration: none;
        }
    }

    &__title {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    &__list {
        display: flex;

        ul {
            margin: 0 2rem;

            @media (max-width:$screen-md) {
                margin: 2rem 0;
            }

            &:nth-child(2) {
                @media (max-width:$screen-md) {
                    margin-left: 2rem;
                }
            }
        }
    }
}